@import "src/styles/styles";
.custom-debounced-input {
  input {
    height: 35px;
    border-radius: 25px;
    outline: none;
    border: 1px solid $gray;
    -webkit-box-sizing: border-box;
    padding-left: 10px;
  }
}