@import "src/styles/styles";

.custom-modal {

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: $white;
    border-radius: 6px;
    min-height: 300px;
    outline: none;

    @media (max-width: 1050px) {
      width: 90%;
    }

    .custom-loader {
      margin-top: 120px;
    }
  }
}